.hero {
    padding: 100px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    font-family: $black, sans-serif;
    font-size: 90px;
    width: 1063px;
    line-height: calc(99 / 90);
}

.hero__text {
    font-family: $bold;
    font-size: 20px;
}

.hero__button {
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    font-family: $bold;
    background: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
    padding: 20px 82px;
    font-size: 20px;
}

